<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>JavaAppLauncher</string>
        <key>CFBundleIconFile</key>
        <string>GCViewer.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.tagtraum.perf.gcviewer.GCViewer</string>
        <key>CFBundleDisplayName</key>
        <string>GCViewer</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>GCViewer</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>${project.version}</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.developer-tools</string>
        <key>JVMMainClassName</key>
        <string>com.tagtraum.perf.gcviewer.GCViewer</string>
        <key>JVMOptions</key>
        <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
            <string>-cp</string>
            <string>$APP_ROOT/Contents/Java/gcviewer-${project.version}.jar</string>
        </array>
        <key>JVMArguments</key>
        <array>
        </array>
    </dict>
</plist>
